<link rel="import" href="../bower_components/polymer/polymer.html">

<polymer-element name="sensas-numeric-chart" attributes="name min max">
  <template>
    <link href="../vendor/epoch.css" rel="stylesheet" type="text/css">
    <style>
      :host h1 {
        color:white;
        font-size: 18px;
      }
      svg {
        z-index: 0 !important;
      }
      canvas {
        z-index: 0 !important;
      }
    </style>

    <h1 horizontal center-justified layout> {{name}} </h1>
    <div id="lineChart" class="epoch" style="width: 440px; height: 180px"></div>

  </template>

  <script>

    Polymer('sensas-numeric-chart', {
      domReady: function() {
        if (typeof this.name!== "string") {
          console.error(this.name, "invalid signal name");
          return;
        }
        var lineChartData = [{ label: "Data", values: [{time: Math.round(Date.now() / 1000), y: 0}] }];
        var shadowRoot = this.shadowRoot || this;

        var formatTime = function (time) {
          var date = new Date(time * 1000);
          var doubleDigit = function(num) { return num < 10 ? "0" + num : num; };
          var hours = doubleDigit(date.getHours());
          var minutes = doubleDigit(date.getMinutes());
          var seconds = doubleDigit(date.getSeconds());
          
          var formated = hours + ":" + minutes + ":" + seconds;
          return formated;
        }
        var elem = $(shadowRoot).children("#lineChart")[0];
        var min = this.min || -10;
        var max = this.max || 10;
        var chart = $(elem).epoch({
          fps: 60,
          windowSize: 10,
          type: 'time.line',
          range: [min, max],
          ticks: { time: 2 },
          tickFormats: { bottom: formatTime },
          axes: ['left', 'bottom', 'right'],
          data: lineChartData
        });
        setInterval((function() {
          var data = [{
            y: parseFloat(signalReader.get(this.name)), 
            time: Math.round(Date.now() / 1000)
          }];
          chart.push(data); 
        }).bind(this), 1000);

      }
    });
  </script>

</polymer-element>
